[submodule "Tools/kincmake"]
	path = Tools/kincmake
	url = https://github.com/Kode/kincmake.git
[submodule "Tools/nodejs_bin"]
	path = Tools/nodejs_bin
	url = https://github.com/Kode/nodejs_bin.git
[submodule "Libraries/minilua"]
	path = Libraries/minilua
	url = https://github.com/edubart/minilua.git
[submodule "Libraries/tl"]
	path = Libraries/tl
	url = https://github.com/teal-language/tl.git
